{% extends 'bfsapp/clienttemplates/base.html' %}
{% load static %}
{% block activities %}active{% endblock activities %}

{% block content %}

<div class="banner-w3agile">
			<div class="container">
				<h3><a href="">Activities</h3>
			</div>
		</div>


<div class="new-w3agile">
					<div class="container">
						<div class="new-grids">
							<div class="col-md-10 new-right">
								<h3 class="tittle1">Activities</h3>
                                {% for activity in activities %}
								<div class="new-bottom">
									<div class="new-bottom-left">
										<img src="{{activity.image.url}}" class="img-responsive" alt="">
									</div>
										<div class="new-bottom-right">
										<h5>{{activity.title}}</h5>
										<p>{{activity.content|truncatewords:'50'}}
                                         <a class="btn btn-primary" href="{% url 'bfsapp:clientactivitiesdetail' activity.id %}">Read More</a>
										</p>
										<p>Location: {{activity.location}}</p>
										<p>Date: {{activity.date}}</p>

										</div>
										<div class="clearfix"></div>
								</div>
								{% endfor %}
							</div>
					</div>
				</div>

{% endblock content %}