{% extends 'bfsapp/clienttemplates/base.html' %}
{% load static %}
{% block gallery %}active{% endblock gallery %}


{% block content %}

<div class="banner-w3agile">
			<div class="container">
				<h3><a href="index.html">Gallery</a></h3>
			</div>
		</div>
<!--Projects-->
<div class="content">
	<div class="projects-agile">
		<div class="container">
					<h2 class="tittle">Gallery</h2>
					
					{% for galleri in gallery %}
							
						<div class="portfolio_grid_w3lss">
							<div class="col-md-4 w3agile_Projects_grid">
								<div class="w3agile_Projects_image">
									<a class="sb" href="{{galleri.image.url}}">
										<figure>
											<img src="{{galleri.image.url}}" alt="" class="img-responsive img-thumbnail" />
											<figcaption>
											<h4>{{galleri.title}}</h4>
											</figcaption>
										</figure>
									</a>
								</div>
							</div>
						</div>
					{% endfor %}
						
						<div class="clearfix"> </div>
					<script type="text/javascript" src="js/smoothbox.jquery2.js"></script>
		</div>
	</div>
</div>



{% endblock content %}