{% extends 'bfsapp/clienttemplates/base.html' %}
{% load static %}
{% block service %}active{% endblock service %}

{% block content %}

<div class="banner-w3agile">
			<div class="container">
				<h3><a>Features & Services</a></h3>
			</div>
		</div>
		<!--content-->
		<div class="content">
			<div class="services-w3l">
				<div class="container">
					<h2 class="tittle">Core Features</h2>
					<div class="services-grids">
						{% for service in services %}
						<div class="col-md-4 ser-grid">
							<div class="icon" style="max-width: 200px; margin: auto;">
								<img src="{{service.image.url}}" class="img-responsive img-circle img-thumbnail">
							</div>
							<h4>{{service.title}}</h4>
							<!-- <p>{{service.content}}</p> -->
						</div>
						{% endfor %}						
						<div class="clearfix"></div>
					</div>
				</div>
			</div>

			
			<div class="our-services-w3">
				<div class="container">
					<h3 class="tittle">Our Services</h3>
					<div class="ourser-grids">
						{% for feature in features %}
						<div class="col-md-4 ourser-grid">
							<div class="mask">
								<img src="{{feature.image.url}}" class="img-responsive zoom-img" />
							</div>
							<h4>{{feature.title}}</h4>
							<!-- <p>{{feature.content}}</p> -->
						</div>
                        {% endfor %}
						<div class="clearfix"></div>

					</div>
				</div>
			</div>
		</div>


{% endblock content %}