{% extends 'bfsapp/clienttemplates/base.html' %}
{% load static %}
{% block home %}active{% endblock home %}


{% block content %}
<br><br>
<div class="container">
	<div class="row">
		{% for download in downloads %}
		<div class="col-md-3">
			<div>
				<a href="{{download.document.url}}" download="">{{result.document}}<img src="{{download.image.url}}" class="img-responsive img-thumbnail"></a>
			</div>
			<div>
				<h4>{{download.title}}</h4><h5>{{download.uploaded_at}}</h5>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock content %}
