{% extends 'bfsapp/clienttemplates/base.html' %}
{% load static %}
{% block activities %}active{% endblock activities %}

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{% static 'clientstatic/css/ken-style.css' %}">

{% block content %}


	<div class="banner-w3agile">
		<div class="container">
				<h3>Online Activities</h3>
		</div>
	</div>
<div class="new-w3agile">
	<div class="container">
		<table>
			<tr>
				<th  class="text-center" style="background-color: yellow"><a style="color: red" href="{% url 'bfsapp:home' %}">Multiple Choice Questions</a></th>
			</tr>
		</table>
	</div>
<div class="new-w3agile">
		<div class="container">
		<table>
			<tr>
				<th  class="text-center" style="background-color: red"><a style="color: yellow" href="{% url 'bfsapp:clientexam' %}">Examination and Test</a></th>
			</tr>
		</table>
	</div>
<div class="new-w3agile">
		<div class="container">
		<table>
			<tr>
				<th  class="text-center" style="background-color: blue"><a style="color: yellow" href="{% url 'bfsapp:clienthomework' %}">Homework and Assingment</a></th>
			</tr> 
		</table>
	</div>
<div class="new-w3agile">
		<div class="container">
		<table>
			<tr>
				<th  class="text-center" style="background-color: purple"><a style="color: yellow" href="{% url 'bfsapp:clientbook' %}">Books & Notes</a></th>
			</tr>
		</table>
	</div>
<div class="new-w3agile">
		<div class="container">
		<table>
			<tr>
				<th  class="text-center" style="background-color: green"><a style="color: yellow" href="{% url 'bfsapp:clientsolution' %}">Course Exercise Solution</a></th>
			</tr>
		</table>
	</div><br><br>

{% endblock content %}