{% load static %}
<!DOCTYPE html>
<html style="background-color: lightgreen">
<head>
<title>Books & Notes</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="{% static 'clientstatic/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<style>
table {
    border-collapse: collapse;
    width: 91%;
}

th, td {
    text-align: left;
    padding: 10px;
}
</style>
<style>
table {
    border-collapse: collapse;
    width: 50%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}
</style>
</head>
<body>
<div style="background-color: tomato">

	<center><br>
		<h1><a href=""><img src="{% static 'clientstatic/images/q1.jpg' %}" style="max-width: 140px; max-height: 100px;" class="img-thumbnail"></a><a href=""><img src="{% static 'clientstatic/images/q2.jpg' %}" style="max-width: 140px; max-height: 100px;" class="img-thumbnail"></a><a href=""><img src="{% static 'clientstatic/images/q3.jpg' %}" style="max-width: 140px; max-height: 100px;" class="img-thumbnail"></a><a href=""><img src="{% static 'clientstatic/images/q4.jpg' %}" style="max-width: 140px; max-height: 100px;" class="img-thumbnail"></a></h1>
	</center>
</div><br>
<h1><center><font face="Algerian" style="color: purple">Select Your Class (Solution)</font></center></h1><br>
<center>
		<table>
        <tr style="background-color: white">
          <td><h3><a href="http://erasclass5.herokuapp.com/">Class 5</a></h3></td>
          <td><h3><a style="color: purple" href="http://erasclass6.herokuapp.com/">Class 6</a></h3></td>
        </tr>
        <tr>
          <td><h3><a href="http://erasclass7.herokuapp.com/">Class 7</a></h3></td>
          <td><h3><a href="http://erasclass8.herokuapp.com/">Class 8</a></h3></td>
        </tr>
        <tr style="background-color: white">
          <td><h3><a href="http://erasclass9.herokuapp.com/">Class 9</a></h3></td>
          <td><h3><a href="http://erasclass10.herokuapp.com/">Class 10</a></h3></td>
        </tr>
      </table>
		</center>
	</div><br>
<!-- </div> -->

</body>
</html>
