{% extends 'bfsapp/clienttemplates/base.html' %}
{% load static %}
{% block contact %}active{% endblock contact %}


{% block content %}

<div class="new-w3agile">
	<div class="container">
       <h3 class="tittle1">INFORMATION</h3>
				<div class="new-bottom">
					<div class="new-bottom-left">
							<img src="{% static 'clientstatic/images/r1.jpg' %}" style="max-width: 700px; max-height: 330px"  class="img-responsive zoom-img">
								</div>
									<div class="new-bottom-right">
									<h2>Er. Ruppesh Adhikari</h2><br>
									<h3>Qualification:Bachelor in Electronics & Communication Engineering</h3><br>
									<h3>College: Cosmos College of Management and Technology</h3><br>
									<h3>Skills: Python Programming, Django Programming, HTML, Web designing, Electronics project making</h3><br>
									<h3>Address: Malangwa-10, Sarlahi, Nepal</h3><br>
									<h3>Contact: (+977) 9817807980</h3>
									<h3>Email: eruppesh@gmail.com</h3>
									<h3>Contact link: <a href="http://ruppesh.herokuapp.com/">http://ruppesh.herokuapp.com/</a></h3>
									<h3>Contact: (+977) 9817807980</h3>
									<h3>Email: eruppesh@gmail.com</h3>
									<h3>Facebook: <a href="https://www.facebook.com/ruppesh.adhikari.1">ruppesh.adhikari.1</a></h3>
									<h3>Twitter: <a href="https://twitter.com/RuppeshA">twitter.com/RuppeshA</a></h3>
							        </div>
								<div class="clearfix"></div>
					</div>
								<div class="clearfix"></div>
				</div>	
	</div>
</div>





{% endblock content %}