{% extends 'bfsapp/clienttemplates/base.html' %}
{% load static %}
{% block home %}active{% endblock home %}

{% block content %}
<div class="register-form-main">
		<div class="container">
			<p align="left">
			<div class="title-div"><br>
				{% for vacancy in vacancie %}
				<h1 style="color: green">{{vacancy.title}}</h1>
				<h2>{{vacancy.content}}</h2>
				{% endfor %}
				<h3 style="color: green" class="tittle"><br>
					<span>V</span>acancy
					<span>F</span>orm<hr>
				</h3>
			</div>
			<div class="register-form">
				<form action="{% url 'bfsapp:clientvacancylist' %}" method="POST" enctype="multipart/form-data">
					{% csrf_token %}
					{{form.as_p}}
						<div class="clearfix"> </div><br>
					<input class="btn btn-primary btn-block" type="submit" value="Submit"><hr>
				</form>
			</div>
		</div>
	</div>
{% endblock content %}