{% extends 'bfsapp/clienttemplates/base.html' %}
{% load static %}
{% block activities %}active{% endblock activities %}

{% block content %}

<div class="banner-w3agile">
			<div class="container">
				<h3><a href="">Activities</h3>
			</div>
		</div>


<div class="new-w3agile">
					<div class="container">
						<div class="new-grids">
							<div class="col-md-10 new-right">
								<h3 class="tittle1">Activities</h3>
								<div class="new-bottom">
									<div class="new-bottom-left">
										<img src="{{object.image.url}}" class="img-responsive" alt="">
									</div>
										<div class="new-bottom-right">
										<h5>{{object.title}}</h5>
										<p>{{object.content}}</p>
										<p>Location: {{object.location}}</p>
										<p>Date: {{object.date}}</p>

										</div>
										<div class="clearfix"></div><br><br>
										<div class="fb-comments" data-href="" data-width="500" data-numposts="5"></div>
							</div>
								</div>
							</div>
					</div>
				</div>

{% endblock content %}