{% extends 'bfsapp/clienttemplates/base.html' %}
{% load static %}
{% block contact %}active{% endblock contact %}


{% block content %}


		<div class="banner-w3agile">
			<div class="container">
				<h3><a>Contact</a></h3>
			</div>
		</div>
		<div class="content">
			<!--contact-->
			<div class="contact-w3l">
				<div class="container">
					<h2 class="tittle">How To Find Us</h2>
					<div class="contact-bottom">
						<div id="map" style="width:1200px;height:400px;background:yellow"></div>

							<script>
							function myMap() {
							var mapOptions = {
							    center: new google.maps.LatLng(26.857962,85.5578663),
							    zoom: 15,
							    mapTypeId: google.maps.MapTypeId.HYBRID
							}
							var map = new google.maps.Map(document.getElementById("map"), mapOptions);
							}
							</script>

							<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCd4wCNoJHPkNHObTwgZVdBAoMiu0bEPus&callback=myMap"></script>
					</div>
					<div class="col-md-4 contact-left">
						<div class="contct-info">
							<h4> Contact Information</h4>
							<p>exactly our School is situated in Malangwa-3, Sarlahi. our School is near the Malangwa bus station also the opposite to Greenland School. our school is nearly 500m from Malangwa Muncipality Chowk towards the North.</p>
							<ul>
								<li>Phone 2 :+977 046521888</li>
								<li>Phone 1 :+977 9844032408</li>
								<!-- <li>Fax :+1 078 4589 2456</li> -->
								<li><a style="color: #F58703" href="/">brightfuturemalangwa@gmail.com</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-8 contact-left cont">
						<div class="contct-info">
							<h4>Contact Form</h4>
							<form action="{% url 'bfsapp:clientcontact' %}" method="POST">
								{% csrf_token %}
								
								<div class="row">
									<div class="col-md-6 row-grid">
									{{form.name}}
									</div>
										<div class="col-md-6 row-grid">
											{{form.email}}
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="row">
									<div class="col-md-6 row-grid">
									{{form.subject}}
									</div>
										<div class="col-md-6 row-grid">
									{{form.phone}}
									</div>
									<div class="clearfix"></div>
								</div>
								{{form.message}}
								<input type="submit" value="Submit" >
								<input type="reset" value="Clear" >
							</form>
						</div>
					</div>
				</div>
			</div>
			<!--contact-->
		</div>





{% endblock content %}