{% load static %}
<!DOCTYPE html>
<html style="background-color: #D021C2">
<head>
<title>MCQ QUESTION</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="{% static 'clientstatic/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<style>
table {
    border-collapse: collapse;
    width: 91%;
}

th, td {
    text-align: left;
    padding: 10px;
}
</style>
<style>
table {
    border-collapse: collapse;
    width: 50%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}
</style>
</head>
<body>
<div style="background-color: #0CDCE2">

	<center><br>
		<h1><a href=""><img src="{% static 'clientstatic/images/mcq.png' %}" style="max-width: 140px; max-height: 100px;" class="img-thumbnail"></a>  <a href=""><img src="{% static 'clientstatic/images/logoo.png' %}" class="img-circle" style="max-width: 90px; max-height: 68px;"></a></h1>
	</center>
</div><br>
<h1><center><font face="Algerian" style="color: #FFFF00">Welcome to MCQ Exam</font></center></h1><br>
<center>
		<table>
        <tr style="background-color: white">
          <td><h3><a href="https://mcqexam.herokuapp.com/">Class 1</a></h3></td>
          <td><h3><a style="color: purple" href="https://class6.herokuapp.com/">Class 6</a></h3></td>
        </tr>
        <tr>
          <td><h3><a href="https://class22.herokuapp.com/">Class 2</a></h3></td>
          <td><h3><a href="https://class77.herokuapp.com/">Class 7</a></h3></td>
        </tr>
        <tr style="background-color: white">
          <td><h3><a href="https://class333.herokuapp.com/">Class 3</a></h3></td>
          <td><h3><a href="https://class8.herokuapp.com/">Class 8</a></h3></td>
        </tr>
        <tr>
          <td><h3><a href="https://class44.herokuapp.com/">Class 4</a></h3></td>
          <td><h3><a href="https://class9.herokuapp.com/">Class 9</a></h3></td>
      </tr>
        <tr style="background-color: white">
          <td><h3><a href="https://class55.herokuapp.com/">Class 5</a></h3></td>
          <td><h3><a href="https://class10.herokuapp.com/">Class 10</a></h3></td>
      </tr>
      </table>
		</center>
	</div><br>
<!-- </div> -->

</body>
</html>
