{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>modelset1</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'clientstatic/css/clock.css' %}">
  
</head>
<body>

<div class="container">
  
  <!-- Trigger the modal with a button -->
  

<div class='container'>
    <div class="modal fade" id="quizmodal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                  <h4 style="color: #F58703" class="modal-title"><font face="Algerian">Bright Future English Boarding School</font></h4>
                </div>
                <form method="POST" action="{% url 'bfsapp:saveresult' %}">
                    {% csrf_token %}
                    <div class="modal-body">
                        <h4 style="color: green"><font face="Algerian">You MCQ Form Have successfully Submitted</font><span id="score"></span></h4>
                        <input type="hidden" id="scoreinput" name="scoreinput">
                        <input type="hidden" id="modelinput" name="modelinput">
                    </div>
                    <div class="modal-footer"> 
                      <button type="submit" class="btn btn-default"><font style="color: blue" face="Algerian">Your Score</font></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div>
    <div class="text-center">
        <h2>{{modelset.title}}</h2>
    </div>

    <div class="navbar-fixed-top" style="background-color: tomato; opacity: 0.7;">
        <div id="clockdiv" class="pull-right">

            <div>
                <span class="hours"></span>
                <div class="smalltext">Hours</div>
            </div>
            <div>
                <span class="minutes"></span>
                <div class="smalltext">Minutes</div>
            </div>
            <div>
                <span class="seconds"></span>
                <div class="smalltext">Seconds</div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
<form id="mcqform" method="post">
    
{% for ques in modelset.questions.all %}
<div class="w3-container">
    <table class="w3-table-all">
        <thead>
            <tr class="w3-light-grey w3-hover-red">
                <th colspan="3" style="background-color: red">{{forloop.counter}}. {{ques.question}}</th>
              </tr>
        </thead>
            <tr  class="w3-hover-green">
                <td colspan="3" style="background-color: orange">
                    <p>a. {{ques.option1}} <input type="radio" name="question{{forloop.counter}}" value="a" id="myoption{{ques.id}}"></p><br>
                    <p>b. {{ques.option2}} <input type="radio" name="question{{forloop.counter}}" value="b" id="myoption{{ques.id}}"></p><br>
                    <p>c. {{ques.option3}} <input type="radio" name="question{{forloop.counter}}" value="c" id="myoption{{ques.id}}"></p><br>
                    <p>d. {{ques.option4}} <input type="radio" name="question{{forloop.counter}}" value="d" id="myoption{{ques.id}}"></p>
                </td>
            </tr>
    </table>
</div><br>
{% endfor %}
<input type="hidden" id="time" value="{{modelset.time}}">

<div class="text-center">
    <input class="btn btn-primary btn-block" type="button" onclick="myFunction()" value="Submit"><hr>
</div>
</form>

    <div style="background-color: green" class="text-center">
        <h2 style="color: yellow"><a style="color: yellow" href="/"> Back To Home</a></h2>
    </div><br>
</div>

<script>
    
    
    var answer = [];
    var selectedans = [];
    var answers = document.forms["mcqform"];
    var b = (answers.length)-2;

function myFunction(){

var marks = 0;

"{% for ques in modelset.questions.all %}"
var a = document.forms["mcqform"]["myoption{{ques.id}}"].value;
        
        if(a == null || a == "")
        {
            alert("Please fill question number" + " " + "{{forloop.counter}}");
            return false;
        }

"{% endfor %}"


"{% for ans in modelset.questions.all %}"

    answer +=  "{{ans.answer}}"

"{% endfor %}"
//alert(answer);





for(var i=0; i<b; i++)
{
    if(answers[i].checked)
    {
        selectedans += answers[i].value;
    }
}


     for(var j=0; j < (b/4); j++)
     {
        
        if(selectedans[j] == answer[j])
        {
            marks += 1;
        }

    }
     // alert("your obtained marks is :"+ " " +marks);


     var model_id = "{{modelset.id}}"
     // document.getElementById("score").innerHTML = marks;
     document.getElementById("scoreinput").setAttribute('value',marks)
     document.getElementById("modelinput").setAttribute('value',model_id)

     $('#quizmodal').modal('show');     


}

var addtime = document.getElementById("time").value;

function getTimeRemaining(endtime) {
    var t = Date.parse(endtime) - Date.parse(new Date());
    var seconds = Math.floor((t / 1000) % 60);
    var minutes = Math.floor((t / 1000 /60) % 60);
    var hours = Math.floor((t / (1000 *60 *60)) % 24);

    return{
        'total' : t,
        'hours' : hours,
        'minutes' : minutes,
        'seconds' : seconds,

    };
}

function initializeClock(id, endtime) {
    var clock = document.getElementById(id);
    var hoursSpan = clock.querySelector('.hours');
    var minutesSpan = clock.querySelector('.minutes');
    var secondsSpan = clock.querySelector('.seconds');

    function updateClock(){
        var t = getTimeRemaining(endtime);

        hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
        minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
        secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);


        if (t.total <= 0) {
            clearInterval(timeinterval);
            timeup();

        }
    }
updateClock();
var timeinterval = setInterval(updateClock, 1000);

}

function timeup(){

var marks = 0;

"{% for ans in modelset.questions.all %}"

     answer +=  "{{ans.answer}}"

"{% endfor %}"
//alert(answer);

"{% for ques in modelset.questions.all %}"
    var a = document.forms["mcqform"]["myoption{{ques.id}}"].value;
        
        if(a == "")
        {
            
            selectedans += "f";
            
        }
        else{

            selectedans += a;
        }

"{% endfor %}"

        

 for (var i = 0; i < b/4; i++ ){
    if (answer[i] == selectedans[i]){
         marks = marks +1;
    }
    }
    
    var model_id = "{{modelset.id}}"
     // document.getElementById("score").innerHTML = marks;
     document.getElementById("scoreinput").setAttribute('value',marks)
     document.getElementById("modelinput").setAttribute('value',model_id)

    $('#quizmodal').modal('show');  


 }


var deadline = new Date(Date.parse(new Date()) + addtime*1000*60);
initializeClock('clockdiv', deadline);

</script>


</body>
</html>