<!-- <!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body style="background-color: lightyellow">
<h2 style="color: purple"><center>{{request.user.username}}</center></h2>
{% for score in myhistory %}
<br>
<h3 style="color: blue">Date: {{score.date}}</h3>
<h3 style="color: green">Model set: {{score.modelset.title}}</h3>
<h3 style="color: red">Your score is: {{score.score}}</h3>
{% endfor %}
 -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>thanku</title>
</head>
<body style="background-color: yellow"><br>
<div class="container">
	<center><a href="http://www.brightfuturemalangwa.com/"><img src="{% static 'clientstatic/images/logout.png' %}" class="img-circle img-thumbnail" style="max-width: 250px; max-height: 250px" ></a></center>
	<h1 style="color: red"><center>{{request.user.username}}</center></h1><hr>
	{% for score in myhistory %}
		<h2 style="color: green"><center>Set: {{score.modelset.title}}, Your score is: {{score.score}} <br>Date: {{score.date}}</center></h2>
	{% endfor %}
	<h1><center>Thanku ! For Giving The Exam<br>Will See You Again</center></h1>

</div>
</body>
</html>