{% load static %}

<!DOCTYPE html>
<html>
<style>
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div {
    border-radius: 5px;
    background-color: pink;
    padding: 20px;
}
</style>
<body>

<h3>Register Your Information</h3>

<div>
    <form method="POST" action=".">
        {% csrf_token %}
        {{userform.as_p}}
        {{studentform.as_p}}
        <button>Register Your Account</button>
    </form>
</div>

</body>
</html>
