<div class="new-w3agile">
    <div class="container">
       <h3 class="tittle1">INFORMATION</h3>
                <div class="new-bottom">
                    <div class="new-bottom-left">
                            <img src="{% static 'clientstatic/images/logoo.png' %}" style="max-width: 700px; max-height: 330px"  class="img-responsive">
                                </div>
                                    <div class="new-bottom-right">
                                    <h1 style="color: #000080" class="text-center"><font face="Algerian">  Bright Future English Boarding School<br>Malangwa-09, Sarlahi Nepal<br>Online Examination</font>
                                    </div>
                                <div class="clearfix"></div>
                    </div>
                                <div class="clearfix"></div>
                </div>  
    </div>
</div>