{% extends 'bfsapp/admintemplates/base.html' %}
{% load static %}

{% block css %}

{% endblock css %}

{% block content %}
                <div id="page-wrapper">
                    <div style="background-color: lightpink" class="graphs">
                         <div class="xs">


                    <body>
                            <div class="container-fluid">
                                <!-- Basic Examples -->
                                <div class="row clearfix">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="card">
                                            <div class="header">
                                                <h2>
                                                     Create Testimonial 
                                                </h2>
                                            </div>
                                        <div class="body">
                                                <div class="table-responsive">
                                                    <div class="container-fluid">
                                                        <div class="row clearfix">
                                                        <form method="POST" enctype="multipart/form-data">
                                                            {% csrf_token %}
                                                            {{form.media}}
                                                            {{form.as_p}}<br>
                                                            <button class="btn btn-primary">Submit</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


 </body>
{% endblock content %}

{% block javascript %}

<link href="{% static 'adminstatic/css/custom.css' %}" rel="stylesheet">
<!-- Metis Menu Plugin JavaScript -->
<script src="{% static 'adminstatic/js/metisMenu.min.js' %}"></script>
<script src="{% static 'adminstatic/js/custom.js' %}"></script>

{% endblock javascript %}
