{% extends 'bfsapp/admintemplates/base.html' %}
{% load static %}
{% block admissions %}active{% endblock admissions %}
{% block content %}
                <div id="page-wrapper">
                    <div style="background-color: #9AF7F4" class="graphs">
                         <div class="xs">


                    <body>
                            <div class="container-fluid">
                                <!-- Basic Examples -->
                                <div class="row clearfix">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="card">
                                            <div class="header">
                                                <h2>
                                                     Applicant Informations 
                                                </h2>
                                        </div>
											<h3>Senders name: {{object.name}}</h3>
											<h3>Sender phone no.: {{object.phone}}</h3>
											<h3>Subject: {{object.subject}}</h3>
											<h3>Sender Email: {{object.email}}</h3>
											<h3> Message:<br> <h4>{{object.message}}</h4></h3>						
										</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

{% endblock content %}