{% extends 'bfsapp/admintemplates/base.html' %}
{% load static %}


{% block content %}

<div id="page-wrapper">
  <div class="graphs">
     	<div class="col_3">
        	<div class="col-md-3 widget widget1">
        		<div class="r3_counter_box">
                    <i class="pull-left fa fa-thumbs-up icon-rounded"></i>
                    <div class="stats">
                      <h5><strong>logo</strong></h5>
                      <span>name</span>
                    </div>
                </div>
        	</div>
        	<div class="clearfix"> </div>
      </div>
                <img src="{% static 'adminstatic/images/x6.jpg' %}" alt=""/ width="800"><br><br>
            <h3>Abc.company.ltd</h3>
              </div>
          </div>
      </div>



{% endblock content %}