 <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3 class="modal-title">Delete {{object.title}}</h3>
</div>
<form class="form" method="POST"  action="{% url 'bfsapp:adminservicesdelete' object.id %}">{% csrf_token %}
    <div class="modal-body">
        Are you sure you want to delete {{object.title}}?
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger">Delete</button>
        <button class="btn btn-default" data-dismiss="modal">Cancel</button>
    </div>
</form>