{% extends 'bfsapp/admintemplates/base.html' %}
{% load static %}
{% block admissions %}active{% endblock admissions %}
{% block content %}
                <div id="page-wrapper">
                    <div style="background-color: #9AF7F4" class="graphs">
                         <div class="xs">


                    <body>
                            <div class="container-fluid">
                                <!-- Basic Examples -->
                                <div class="row clearfix">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="card">
                                            <div class="header">
                                                <h2>
                                                     Applicant Informations 
                                                </h2>
                                            </div>
	<h3>Applicant name: {{object.name}}</h3>
	{% if vacancy.Applicant_PP_size_Photo %}
	<h3>Applicant photo: <img src="{{vacancy.Applicant_PP_size_Photo.url}}" width="200"></h3>{% endif %}
	{% if vacancy.Applicant_Marksheet_Photo %}
	<h3>Applicant Marksheet photo: <img src="{{vacancy.Applicant_Marksheet_Photo.url}}" width="200"></h3>
	{% endif %}
	<h3>Date of Birth: {{object.birthdate}}</h3>
	<h3>Applicant phone no.: {{object.phone}}</h3>
	<h3>Applicant Email id: {{object.email}}</h3>
	<h3>Qualification: {{object.Qualification}}</h3>
	<h3>Percentage: {{object.percentage}}</h3>
	<h3>Subject: {{object.subject}}</h3>
	<h3>Address: {{object.address}}</h3>
	<h3>Muncipality: {{object.muncipilaty}}</h3>
	<h3>District: {{object.district}}</h3>
	<h3>Zipcode: {{object.zipcode}}</h3>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

{% endblock content %}