{% load static %}

<!DOCTYPE HTML>
<html>
<head>
<title>Admin</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Modern Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
 <!-- Bootstrap Core CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<!-- file////// -->

<link href="{% static 'adminstatic/css/style.css' %}" rel='stylesheet' type='text/css' />
<!-- Graph CSS -->
<link href="{% static 'adminstatic/css/lines.css' %}" rel='stylesheet' type='text/css' />
<link href="{% static 'adminstatic/css/font-awesome.css' %}" rel="stylesheet"> 
<!-- jQuery -->

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<!----webfonts--->
<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
<!---//webfonts--->  
<!-- Nav CSS -->
<link href="{% static 'adminstatic/css/custom.css' %}" rel="stylesheet">
<!-- Metis Menu Plugin JavaScript -->
<script src="{% static 'adminstatic/js/metisMenu.min.js' %}"></script>
<script src="{% static 'adminstatic/js/custom.js' %}"></script>
<!-- Graph JavaScript -->
<script src="{% static 'adminstatic/js/d3.v3.js' %}"></script>
<script src="{% static 'adminstatic/js/rickshaw.js' %}"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    {% block extras %}

    {% endblock %}
</head>
<body>
<div id="wrapper">
     <!-- Navigation -->
        <nav class="top1 navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="#">Admin</a>
            </div>
            <div class="navbar-default sidebar" role="navigation">
		            <div class="col-md-12 widget widget1">
		        		<div class="r3_counter_box">
		                    <img src="{% static 'adminstatic/images/download.jpg' %}" alt=""/ style="max-width: 220px; margin: auto;">
		                    <div class="stats">
		                      <h5><strong>Engineer</strong></h5>
		                      <span>Ruppesh Adhikari</span>
		                    </div>
		                </div>
		        	</div>
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a style="color: yellow" href="{% url 'bfsapp:adminhome' %}"><i class="fa fa-home fa-fw nav_icon"></i>Home</a>
                        </li>
                        <li>
                            <a style="color: yellow" href="{% url 'bfsapp:adminsliderlist' %}"><i class="fa fa-dashboard fa-fw nav_icon"></i>Slider</a>
                        </li>
                        <li>
                            <a style="color: yellow" href="{% url 'bfsapp:adminstafflist' %}"><i class="fa fa-dashboard fa-fw nav_icon"></i>Staff</a>
                        </li>

                        <li>
                            <a style="color: yellow" href="{% url 'bfsapp:adminactivitieslist' %}"><i class="fa fa-dashboard fa-fw nav_icon"></i>Activities</a>
                        </li>
                        <li>
                            <a style="color: yellow" href="{% url 'bfsapp:adminbloglist' %}"><i class="fa fa-dashboard fa-fw nav_icon"></i>Blog</a>
                        </li>
                        <li>
                            <a style="color: yellow" href="{% url 'bfsapp:admineventlist' %}"><i class="fa fa-dashboard fa-fw nav_icon"></i>Event</a>
                        </li>
                        <li>
                            <a style="color: yellow" href="{% url 'bfsapp:adminvideolist' %}"><i class="fa fa-dashboard fa-fw nav_icon"></i>Video</a>
                        </li>
                        <li>
                            <a style="color: yellow" href="{% url 'bfsapp:adminfeatureslist' %}"><i class="fa fa-dashboard fa-fw nav_icon"></i>Services</a>
                        </li>
                        <li>
                            <a style="color: yellow" href="{% url 'bfsapp:admingallerylist' %}"><i class="fa fa-dashboard fa-fw nav_icon"></i>Gallery</a>
                        </li>
                        <li>
                            <a style="color: yellow" href="{% url 'bfsapp:admintestimoniallist' %}"><i class="fa fa-dashboard fa-fw nav_icon"></i>Testimonial</a>
                        </li>
                        <li>
                            <a style="color: yellow" href="{% url 'bfsapp:adminvacanciilist' %}"><i class="fa fa-dashboard fa-fw nav_icon"></i>Post Vacancy</a>
                        </li>

                        <li>
                            <a style="color: yellow" href="{% url 'bfsapp:adminadmissionlist' %}"><i class="fa fa-dashboard fa-fw nav_icon"></i>Admission</a>
                        </li>
                        <li>
                            <a style="color: yellow" href="{% url 'bfsapp:adminvacancylist' %}"><i class="fa fa-dashboard fa-fw nav_icon"></i>Vacancy List</a>
                        </li>

                        <li>
                            <a style="color: yellow" href="{% url 'bfsapp:admindownloadlist' %}"><i class="fa fa-dashboard fa-fw nav_icon"></i>Download</a>
                        </li>
                        <li>
                            <a style="color: yellow" href="{% url 'bfsapp:adminmessagelist' %}"><i class="fa fa-dashboard fa-fw nav_icon"></i>Message</a>
                        </li>
                        <li>
                            <a style="color: yellow" href="{% url 'bfsapp:adminnoticelist' %}"><i class="fa fa-dashboard fa-fw nav_icon"></i>Notices</a>
                        </li>
                        <li>
                            <a style="color: yellow" href="{% url 'bfsapp:adminpricelist' %}"><i class="fa fa-dashboard fa-fw nav_icon"></i>Fee Structure</a>
                        </li>
                        <li>
                            <a style="color: yellow" href="{% url 'bfsapp:adminroutinelist' %}"><i class="fa fa-dashboard fa-fw nav_icon"></i>Routine</a>
                        </li>

                        <li>
                            <a style="color: yellow" href="{% url 'bfsapp:adminresultlist' %}"><i class="fa fa-dashboard fa-fw nav_icon"></i>Result</a>
                        </li>
                        <li>
                            <a style="color: yellow" href="{% url 'bfsapp:adminserviceslist' %}"><i class="fa fa-dashboard fa-fw nav_icon"></i>Features</a>
                        </li>




                            <li>
                            <a style="color: yellow" href="{% url 'bfsapp:adminlogout' %}">Logout</a>
                        	</li>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            {% block content %}


            {% endblock %}

            <div class="modal fade" id="schoolmodal" role="dialog">
			    <div class="modal-dialog">
			        <div class="modal-content">

			        </div>
			    </div>
			</div>
<br>
            <p style="color: yellow" class="text-center">Copyright &copy; 2018 Modern. All Rights Reserved | Design by <a href="/" target="_blank">Ruppesh Adhikari</a> </p>
		</div>
       </div>
      <!-- /#page-wrapper -->
   </div>
    <!-- /#wrapper -->
    <!-- Bootstrap Core JavaScript -->
        {% block javascript %}

    {% endblock javascript %}




</body>
</html>
